
    

    <!-----------Footer------------>
<footer>

    <div class="footer">
        <div class="footer-content">
            <h2 class="foot-head"> ABOUT US</h2>
            <p><i>High-end luxury Limousine services
                    at affordable prices
                    We have been providing exceptional
                    high-end transportation throughout
                    San Diego county for over 22 years.</i></p>

            <p id="licensed">License: TCP15412-A</p>
        </div>

        <div class="footer-content">
            <h2 class="foot-head"> SERVICES</h2>
            <ul>
                <li><a href="">Gold Key Concierge
                    </a></li>
                <li><a href="">Airport Transfers
                    </a></li>
                <li><a href="">Executive Ground Transportation
                    </a></li>
                <li><a href="">Tijuana/CBX Airport Services
                    </a></li>
                <li><a href="">Temecula Wine Tours
                    </a></li>
                <li><a href="">Wedding Limousine Transportation
                    </a></li>
                <li><a href="">San Diego Brewery Tours
                    </a></li>
                <li><a href="">Concert Limo Services
                    </a></li>
                <li><a href="">Mexico Limousine Tours
                    </a></li>
                <li><a href="">Bachelor & Bachelorette Parties
                    </a></li>
                <li><a href="">SoCal Casino Limo Services
                    </a></li>
                <li><a href="">Del Mar Races Limousine Service
                    </a></li>
                <li><a href="">Graduation Limo Services
                    </a></li>
                <li><a href="">Sporting Event Transportation
                    </a></li>
                <li><a href="">Prom Night Limousine Services
                    </a></li>
                <li><a href="">Quinceañera Limousine Service
                    </a></li>
                <li><a href="">Nightclub Limo Service
                    </a></li>
                <li><a href="">School Even Limo Services</a></li>
            </ul>
        </div>


        <div class="footer-content">
            <h2 class="foot-head"> THE FLEET</h2>
            <ul>
                <li><a href="">Mercedes Sprinter Limousine
                    </a></li>
                <li><a href="">Mercedes Sprinter Executive
                    </a></li>
                <li><a href="">Executive Sedan
                    </a></li>
                <li><a href="">Luxury Stretch Limousine
                    </a></li>
                <li><a href="">Hummer Stretch Limousine
                    </a></li>
                <li><a href="">Executive SUV</a></li>

            </ul>
        </div>


        <div class="footer-content">
            <h2 class="foot-head">NAVIGATETHE FLEET</h2>
            <ul>
                <li><a href="">Home
                    </a></li>
                <li><a href="">About us
                    </a></li>
                <li><a href="">Specials
                    </a></li>
                <li><a href="">Fleet
                    </a></li>
                <li><a href="">Services
                    </a></li>
                <li><a href="">Reservations</a></li>

            </ul>
        </div>
        <div class="footer-content">
            <h2 class="foot-head"> CONTACT</h2>
            <p>Address: 1426 Morena Blvd, San Diego, <br>
                CA 92110</p>
            <p><img src="assets\images\icons\phone.png" alt="" width="15px"> (858) 483-5466</p>
            <p><img src="assets\images\icons\email.png" alt="" width="15px"> Contact Us</p>
        </div>
    </div>

</footer>

<!---------- HOME 9 Closing after footer------------>

<section>
    <div class="below-footer">
        <div class="foot-cont">
            <p class="below-foot pg">© 2001 - 2023 MASTERPIECE LIMOUSINE</p>
            <img src="assets\images\logo\logo.png" alt="" class="below-foot footer-logo">
            <img src="assets\images\icons\icons.png" alt="" width="150px" height="50px" class="below-foot icon">

        </div>
    </div>
</section>

