<header class="flex-container">

        <nav class="navbar flex-container"> 
            <div>
                <img src="assets/images/logo/logo.png" alt="logo"  id="logo"/>
            </div>

            <ul class="menu flex-container">
                <li class="menu-items"><a href="Index.html ">HOME</a></li>
                <li class="menu-items"><a href="Services.html">SERVICES</a></li>
                <li class="menu-items"><a href="Events.html">EVENTS</a></li>
                <li class="menu-items"><a href="fleet.html" class="active">OUR FLEET</a></li>
                <li class="menu-items"><a href="About Us.html">ABOUT US</a></li>
                <li class="menu-items"><a href="">CONTACT US</a></li>
                <li class="menu-items navigation-button"><a href="" id="reservation-button">RESERVATIONS</a></li>
            </ul>
        </nav>
    
</header>