* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
body {
  background-color: black;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding: 0;
  margin: 0 auto;
}



/*---------------------HERO CONTENT-------------*/
.background-image {
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section {
  background-image: url(../images/aboutus/background.png);
}

.inner-container {
  display: flex;
  justify-content: center;
}
.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 572px;
  margin-top: 185px;
}
#question {
  padding-bottom: 10px;
  font-size: 60px;
  font-family: sans-serif;
}
#answer {
  text-align: center;
}
/* --------------about 2------------------*/
.content-divider {
  display: flex;
  justify-content: flex-end;
  height: 790px;
}

.man-1half {
  max-width: 462px;
  position: absolute;
  margin-top: 200px;
}
.man-1half img {
  width: 100%;
}
.box-holder {
  position: relative;
  margin-top: 50px;
  margin-right: 150px;
}
.black-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 20px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.image-holder {
  width: 100%;
  max-width: 850px;
}
.image-holder img {
  width: 850px;
}
.col p {
  font-size: 42px;
  font-family: "serif";
  text-align: center;
  font-style: italic;
  padding: 10px;
}
.total {
  font-size: 30px;
  font-family: sans-serif;
}
/* -------------------------------About 3-------------------------*/
.man2 {
  position: none;
  margin-top: 0;
}
.man2 img {
  width: 100%;
}
.content-container {
  text-align: right;
}
.content {
  position: relative;
  text-align: right;
  font-family: sans-serif;
  padding: 70px 15px;
  display: inline-block;
}
.content h1 {
  font-size: 77px;
  padding-bottom: 20px;
}
.content p {
  font-size: 14px;
}
.bottem-content {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  align-items: center;
}
.bottem-content p {
  position: relative;
  font-size: 38px;
  font-family: serif;
  font-style: italic;
  text-align: center;
}
.button-holder {
  text-align: center;
}
.button-holder a {
  background-color: rgba(167, 34, 17, 1);
  padding: 10px 20px;
}
.button-holder a:hover {
  background-color: #141111;
}
/* -------------------------------About 4-------------------------*/
.water-image {
  background-image: url(../images/aboutus/watershadow.png);
  position: relative;
  
}
.title {
  text-align: center;
}
.title p {
  font-size: 40px;
  font-family: serif;
  font-style: italic;
  padding: 50px;
}
.options-container{
  display: flex;
  justify-content: center;

}
.options {
  line-height: 4;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}
