* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 11px;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.flex-container {
  display: flex;
}

/*----HEADER----*/

header {
  justify-content: center;
}

.navbar {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  padding: 40px 0 0 0;
}

div #logo {
  max-width: 174px;
  vertical-align: middle;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.menu-items a {
  padding: 10px 15px;
  position: relative;
}

.menu .menu-items:not(.navigation-button) a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #2778b3;
  bottom: 1px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.menu .menu-items:not(.navigation-button) a:hover::after,
.menu .menu-items:not(.navigation-button) a.active::after {
  transform: scaleX(0.8);
}

#reservation-button {
  background-color: rgb(167, 34, 17);
}

#reservation-button:hover {
  background-color: #2778b3;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 1024px)  {
  .navbar {
    align-items: center;
    padding-top: 20px;
    max-width: 95%;
  }
  .menu{
    gap: 10px;
  }
  .menu li a{
    font-size: 10px;
  }

  div #logo {
    max-width: 128px;
  }

  #reservation-button {
    padding: 8px 10px;
    
  }
  .menu .menu-items:not(.navigation-button) a::after{
    height: 1px;
  }
}

@media screen and (max-width: 768px)  {
  .navbar {
    align-items: center;
    padding-top: 20px;
    max-width: 95%;
  }
  .menu{
    gap: 0;
  }
  .menu li a{
    font-size: 8px;
    padding: 10px;
  }

  div #logo {
    max-width: 128px;
  }

  #reservation-button {
    padding: 8px 10px;
    
  }
  .menu .menu-items:not(.navigation-button) a::after{
    height: 1px;
  }
}

@media screen and (max-width: 450px){
  .navbar {
    flex-direction: column;
    padding: 10px 0;
    position: unset;
    text-align: center;
 
  }
  .menu {
    flex-direction: column;
    gap: 2px;
  }
  .menu li a{
    font-size: 5px;
    padding: 5px 7px;
  }

  div #logo {
    max-width: 74px;
  }
  #reservation-button {
    padding: 3px 5px;
    font-size: 5px;
    align-items: center;
  }
  .menu .menu-items:not(.navigation-button) a::after{
    height: 1px;
  }
}

/*-------------FOOTER----------------------*/

.footer {
  background-color: rgba(34, 34, 34, 0.473);
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer-content {
  padding: 20px;
}
.foot-head {
  padding: 10px;
  text-align: center;
}

/*-----------------BELOW FOOTER----------------*/

.foot-cont {
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin: 20px;
}
.below-foot {
  margin: 0 10px;
}
.pg {
  padding-top: 30px;
}
.icon {
  padding-top: 10px;
}
.footer-logo {
  margin: 0 auto;
}
