
/*----HEADER----*/

header {
  justify-content: center;
}

.navbar {
  position: absolute;
  justify-content: space-between;
  top: 30px; 
  width: 100%;
  max-width: 1400px;
}

div #logo {
  max-width: 164px;
  height: 40px;
  vertical-align: bottom;
}

.menu {
  list-style-type: none;
  gap: 20px;
}

.menu-items a {
  padding: 0 15px;
  position: relative;
}

.menu .menu-items:not(.navigation-button) a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #2778b3;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.menu .menu-items:not(.navigation-button) a:hover::after,
.menu .menu-items:not(.navigation-button) a.active::after {
  transform: scaleX(0.8);
}

.navigation-button {
  background-color: rgb(167, 34, 17);
  padding: 15px 8px;
}

.navigation-button:hover {
  background-color: #2778b3;
}

/* --RESPONSIVE STYLES FOR SCREEN 1024px-- */

@media screen and (max-width: 1024px) {
  .navbar {
    top: 20px;
    max-width: 1000px;
  }
  .menu {
    gap: 0;
  }
  div #logo {
    max-width: 135px;
    height: 30px;
  }
.navigation-button {
    padding: 10px 0;
  }
  .menu .menu-items:not(.navigation-button) a::after {
    height: 1px;
  }
}

/* --RESPONSIVE STYLES FOR SCREEN 769px-- */

@media screen and (max-width: 769px) {
  .navbar {
    top: 15px;
    max-width: 750px;
  }
  .menu {
    gap: 5px;
  }
  .menu li a {
    padding: 0 7px;
  }
  div #logo {
    max-width: 100px;
    height: 25px;
  }

  .navigation-button {
    padding: 8px 0;
  }

}

/* --RESPONSIVE STYLES FOR SCREEN 450px-- */

@media screen and (max-width: 450px) {
  .navbar {
    flex-direction: column;
    padding: 10px 0;
    position: unset;
    text-align: center;
  }
  .menu {
    flex-direction: column;
    gap: 2px;
  }
  .menu li a {
    font-size: 5px;
    padding: 5px 7px;
  }

  div #logo {
    max-width: 74px;
  }
  #reservation-button {
    padding: 3px 5px;
    font-size: 5px;
    align-items: center;
  }
  .menu .menu-items:not(.navigation-button) a::after {
    height: 1px;
  }
}

/*-------------FOOTER----------------------*/

.footer {
  background-color: rgba(34, 34, 34, 0.473);
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer-content {
  padding: 20px;
  width: 100%;
}
.foot-head {
  padding: 10px;
  text-align: center;
}
.footer .footer-content #licensed {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 426px) {
  .footer {
    display: inline-grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 15px;
  }
  .footer-content h2,
  p,
  ul li,
  a,
  i {
    font-size: 5px;
    padding-bottom: 5px;
  }
  .footer-content {
    padding-right: 4px;
    padding: 0;
  }
  .foot-head {
    padding: 20px 0;
  }

  .footer .footer-content #licensed {
    height: 100px;
  }
}
/*-----------------BELOW FOOTER----------------*/

.foot-cont {
  display: flex;
  margin: 20px;
}
.below-foot {
  margin: 0 10px;
}
.pg {
  padding-top: 30px;
}
.icon {
  padding-top: 10px;
  width: 200px;
}
.footer-logo {
  margin: 0 auto;
}

@media screen and (max-width: 426px) {
  .foot-cont {
    margin: 10px;
  }
  .below-foot {
    margin: 0 10px;
  }
  .pg {
    padding-top: 10px;
  }
  .icon {
    padding-top: 10px;
    width: 5px;
  }
  .footer-logo {
    width: 80px;
    height: 20px;
  }
}
