* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
body {
  background-color: black;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding: 0;
  margin: 0 auto;
}

/*--------------------Servive --------------------*/
.background-image {
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section {
  background-image: url(../images/services/van.png);
 
}
.content-container {
  display: inline-block;
  margin-top: 215px;
  padding-bottom: 30px;
}
#service {
  padding-bottom: 10px;
  font-size: 60px;
  font-family: sans-serif;
}
#services-type {
  text-align: left;
  line-height: 3;
  font-family: sans-serif;
  letter-spacing: 2px;
}
/*--------------------Servive 1--------------------*/
.black-container{
  margin: 100px 0;
 
}
.red-container{
  background-color: rgba(165, 28, 28, 0.997); 
  width: 100%;
}
.content-holder{
  display: flex;
}
.red-content{
  width: 1150px;
  padding: 35px 0;
}
.image-container{
  width: 660px;
  height: 500px;
  display: flex;
  align-items: center;
  
}
.image-container img{
  max-width: 100%;

}
.sect-no{
  font-size: 60px;
  font-family: sans-serif;
}
.title{
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding-bottom: 20px;
}
.description{
  font-size: 14px;
}
.sideline{
  width: 290px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.sideline img{
  width: 30px;

}
.bow-icon{
  display: flex;
  justify-content: space-between;
  width: 650px;
}
hr {
  border: none; 
  height: 2px; 
  background-color: #363333; 
}
/*--------------------Servive 2--------------------*/
.blue-container{
 background-color: rgba(33, 137, 183, 1) ;
}
.blue-content{
  width: 1150px;
  padding: 35px 0;
  padding-left: 65px;
}
.blue-sideline{
  justify-content: flex-start;
}
.box-container{
  text-align: center;

}
.box{
display: inline-block;
margin-top: 150px;
}
.boxes{
width: 100px;
height: 100px;
background-color: white;
margin: 10px;
}
.boxes:hover{
background-color:  rgba(33, 137, 183, 1) ;
transition:0.5s;
}
