.side-bar {
  width: 4vw;
  display: flex;
  justify-content: end;
  height: 451px;
  margin-right: 15px;
  }

  @media screen and (max-width: 1440px){
    .side-bar {
      width: 4vw;
      height: 430px;
      margin-right: 25px;
      }
  }
    

  
@media screen and (max-width: 1024px) {
  .side-bar {
    width: 6vw;
    height: 340px;
    margin-right: 20px;
    }   
}

@media screen and (max-width: 768px)  {
  .side-bar {
    width: 7vw;
    height: 225px;
    margin-right: 18px;
    }
   
}

@media screen and (max-width: 426px) {
  .side-bar {
    display: none;

}
}