* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
body {
  background-color: black;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding: 0;
  margin: 0 auto;
  height: 787px;
}
/*------ NAVIGATION BAR------ */
.navigation-container {
  display: flex;
  justify-content: center;
}
.logo-holder {
  width: 100%;
  max-width: fit-content;
}
.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 35px 0;
  width: 100%;
  max-width: 1380px;
}
.menu {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: end;
}
.menu-items {
  padding: 10px;
  font-family: sans-serif;
}
.menu-items a {
  padding: 10px;
}
#button {
  background-color: rgba(165, 28, 28, 0.997);
  padding: 10px 20px;
}
#button:hover {
  background-color: #141111;
}
.menu .menu-items a {
  position: relative;
}
.menu .menu-items:not(.button) a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #2778b3;
  bottom: 2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.menu .menu-items:not(.button) a:hover::after,
.menu .menu-items:not(.button) a.active::after {
  transform: scaleX(0.8);
}

/*---------------------HERO CONTENT-------------*/
.hero-section {
  background-image: url(../images/home/backgroundImage.png);
  background-size: cover;
}
.hero-content {
  text-align: right;
  padding: 230px 140px;
}
#site-name {
  font-size: 70px;
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  padding-bottom: 30px;
}
/*------- HOME  2------- */
.row {
  display: flex;
  margin-left: 50px;
  gap: 15px;
  position: absolute;
}
.col {
  max-width: 20%;
  text-align: center;
}
.image {
  width: 100%;
}
.title {
  font-size: 14px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
}
/*------- HOME  3------- */
.home3-cont-holder {
  margin-left: 50px;
  position: absolute;
}
.home3-content {
  padding: 20px;
  text-align: left;
}
.heading3 {
  font-style: italic;
  font-size: 30px;
  padding-bottom: 20px;
}
.company-intro {
  padding: 20px 0;
}
.button-holder {
  text-align: center;
  padding: 30px;
}
.reserv-button {
  padding: 10px 40px;
  background-color: rgba(165, 28, 28, 0.997);
}
.reserv-button:hover {
  background-color: #914040;
}
/*--------------------- HOME 4 -------------------------*/
.inner-container {
  width: 1400px;
  overflow: hidden;
}
.img {
  width: 100%;
  display: block;
}
.fleet {
  height: 150px;
}
.hm4-cont {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  position: absolute;
  width: 1300px;
}
.heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  line-height: 1.2;
}
.description-hm4 {
  text-align: left;
}

.hm4-images {
  max-width: 230px;
}
.caption {
  padding: 25px 50px;
  text-align: right;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
}
.text {
  letter-spacing: 5px;
}
.greater-than {
  font-size: 35px;
  font-weight: bold;
  width: 35px;
}
.view {
  justify-content: flex-end;
  padding: 0 50px;
}

/*--------------------- HOME 5 -------------------------*/
.logo-container {
  width: 830px;
  margin: 0 auto;
}

.logo-heading {
  text-align: center;
  font-style: italic;
  font-size: 50px;
  font-family: serif;
}
.view-all {
  justify-content: center;
}
/*---------------------Home 6------------------------*/
.background-image {
  background-image: url(../images/home/bg-part4.png);
  background-size: cover;
}
.content-holder {
  display: flex;
  justify-content: space-between;
}
.content {
  padding: 60px;
}

.box-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  padding-top: 40px;
}
.inner-box {
  margin: 0 5px;
}
.box {
  background-color: rgba(56, 56, 56, 0.3);
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  font-size: 12px;
}
.box-container .inner-box:nth-child(1) {
  margin-top: 300px;
}
.box-container .inner-box:nth-child(2) {
  margin-top: 200px;
}
.box-container .inner-box:nth-child(3) {
  margin-top: 100px;
}

.all-services {
  margin-right: 50px;
}

/*--------------------- HOME 7 -------------------------*/
.home-7 {
  padding-bottom: 100px;
}
.latest-news {
  margin-top: 40px;
  width: 1350px;
}
.less-than {
  width: 200px;
  text-align: right;
}
.headline {
  text-align: center;
  font-size: 14px;
  height: 55px;
  font-family: Arial, Helvetica, sans-serif;
}
.news-container {
  display: flex;
  margin-left: 50px;
  gap: 15px;
}
.content-container {
  display: flex;
}
.news-image {
  max-width: 20%;
}
.news-content {
  border-left: 2px solid #da1d1d;
  padding: 10px 10px;
}
.news-date {
  text-align: right;
}
.sideline-container {
  height: 500px;
  width: 30px;
  padding-top: 50px;
}
.sideline-container img {
  max-height: 500px;
}

/*--------------------Home 8 --------------------------*/
.home8 {
  background-image: url(../images/home/home8.png);
}
.box-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 100px;
  width: 1350px;
}
.black-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 150px;
  background-color: rgb(9, 9, 9);
}
.home8-text {
  font-size: 20px;
}
.rectangle-holder {
  display: flex;
  justify-content: center;
}
.rectangle {
  background-color: rgba(17, 1, 1, 0.852);
  margin: 20px 0;
  padding: 20px 162px;
}
.rectangle-content {
  letter-spacing: 5px;
}

/*----------------HOME 9 -------------------*/
.home9 {
  background-image: url(../images/home/home9.png);
}
.blurbox-holder {
  display: flex;
  gap: 15px;
  margin-left: 50px;
  padding-bottom: 150px;
}
.blur-box {
  background-color: rgba(40, 35, 35, 0.503);
  text-align: center;
  margin-bottom: 50px;
}
.description-home9 {
  padding: 20px;
}

.shape {
  display: flex;
  align-items: center;
  padding: 20px;
}
.circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
}
.line {
  border-bottom: 2px solid #ffffff;
  height: 35px;
  width: 190px;
}
.bottom {
  height: 5px;
  width: 50px;
}
.bottom-align {
  justify-content: flex-end;
  display: flex;
  padding: 20px 0;
}
.quotation {
  font-size: 30px;
}
.yellow-text {
  color: yellow;
  font-size: 10px;
}
.home9-text {
  letter-spacing: 5px;
  font-size: 14px;
}
.gradient-container {
  display: flex;
  justify-content: space-between;
  width: 1350px;
}
.gradient-div {
  width: 900px;
  height: 265px;
  background: linear-gradient(
    to right,
    rgba(19, 19, 19, 0.251),
    #4120205d,
    #911704e4
  );
  text-align: right;
  display: flex;
}
.inner-img {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-image {
  max-width: 100%;
}
.gradient-content {
  margin-left: 100px;
  padding: 55px;
}
.gradient-head {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.form-container {
  width: 100%;
  max-width: 410px;
}

.form-field {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  padding: 5px;
}

.form-field label {
  width: 60px;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  border: none;
  border-bottom: solid 1px white;
  background: transparent;
  width: 300px;
}
#message {
  resize: none;
  height: 105px;
  width: 300px;
}
.send-button {
  display: flex;
  justify-content: center;
  width: 420px;
}
.submit-button {
  padding: 10px 135px;
  background-color: #267cb9;
  border: none;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #a52626;
}

.lastline {
  padding: 0;
}

/*-------------FOOTER----------------------*/
.footer {
  background-color: rgba(34, 34, 34, 0.473);
  display: flex;
  text-align: left;
  justify-content: center;
  gap: 50px;
  margin-top: 200px;
}
.footer-content {
  padding: 20px;
}
ul li a {
  text-decoration: none;
  color: white;
}
.foot-head {
  padding: 10px;

  text-align: center;
}
/*-----------------BELOW FOOTER----------------*/

.foot-cont {
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin: 20px;
}
.below-foot {
  margin: 0 10px;
}
.pg {
  padding-top: 30px;
}
.ico {
  padding-top: 10px;
}
.im {
  margin: 0 auto;
}
